<html>
<head>
	<link rel="stylesheet" type="text/css" href="compiled/style.css">

	<title>Example of modals</title>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.js"></script>
	<script type="text/javascript" src="compiled/angular.modal.js"></script>

	<script type="text/javascript" src="main.js"></script>
</head>
<body ng-app="modalExample">

	<a href="#" ng-click="$modal.open('custom.id');">Open up</a>

	<div modalize="custom.id" on-open="">
		<modalize window-class="small_size" content-class="custom-class" closable="false" centered="false">
			<h1>This is a non-closable not-centered popup</h1>

			<a href="#" ng-click="$modal.open('whatever.second')">
				Open another one
			</a>
		</modalize>
	</div>  

	<!-- A secon popup with basic configuration -->
	<div modalize="whatever.second">
		<modalize window-class="large_size" content-class="custom-class">
			<h1>This is a closable centered popup</h1>
			<h2>Click on the cat to close too!</h2>
			<img src="http://gemgon.com/Octocat/img/octocat_outside.png" width="100%" ng-click="$modal.closeAll()">
		</modalize>
	</div>  

</body>
</html>

