<html>
<head>
	<link rel="stylesheet" type="text/css" href="compiled/style.css">

	<title>Example of modals</title>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.js"></script>
	<script type="text/javascript" src="compiled/angular.modal.js"></script>

	<script type="text/javascript" src="main.js"></script>
</head>
<body ng-app="modalExample">

	<a href="#" ng-click="$modal.open('custom.id');">Open up</a>

	<div modalize="custom.id">
		<modalize window-class="small_size" content-class="custom-class">
			<a href="#" ng-click="$modal.open('whatever.second')">
				Start
			</a>
		</modalize>
	</div>  

	<div modalize="whatever.second">
		<modalize window-class="over_size" content-class="custom-class">
			<img src="/assets/istruzioni_videoaudio.png" width="100%">
		</modalize>
	</div>  

</body>
</html>

